body{
    margin:0;
    padding: 0;
}

.parent{
    width: 100%;
}

.dh{
    height: 60px;
    display: flex;
    justify-content: center;
}

.d1{
	background-image:url("aayush_pp.jpg");
	height: 550px;
	background-position:left-center;
	background-size: cover;
	position: center;
}

.d2{
	height:500px;
	width:100%;
	background-color:rgb(231, 243, 255);
}

.d3{
	height:550px;
	width:100%;
}

.d4{
	height:550px;
	width:100%;
}

.menu{
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
	font-family:monospace;
	position:sticky;
	position: sticky; 
	top: 0;
}